[defaults]
inventory = inventories/hosts.ini
host_key_checking = False
retry_files_enabled = False
callback_plugins = plugins/callback
stdout_callback = default
roles_path = roles
collections_path = ./collections
interpreter_python = auto_silent
timeout = 60
forks = 20

[persistent_connection]
connect_timeout = 60
command_timeout = 60
